.App {
  text-align: center;
}

.App-header {
  background-color: #4D4C4C;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-container {
  font-size: large;
  padding: 20px 0;
}
.canvas-container{
  margin-top: 20px;
}
.btn-actions{
 margin: 0 10px;
}

@media print { 
  html {
    transform: scale(0.5);
  }
  body {
    background-color: #000!important;;
  }
  
  canvas {
    border: 10px solid #fff!important;;
  }
}

